<nav class="navbar fixed-top navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YelpCamp Admin Section</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
       
        
        <% if(req.session.admin){ %>
          <a class="nav-link" href="/admin/Profile">Profile</a>
          <a class="nav-link" href="/admin/logout">Logout</a>
          <% }else{ %>
            <a class="nav-link" href="/admin/login">Sign in</a>
            <% } %>

     
      </div>
    </div>
  </div>
</nav>


