<style>
    .flash{
         width:70vw;
         margin: auto;
         margin-bottom:5px;
    }
</style>

<% if(success && success.length){ %>
    <div class="flash alert  alert-dismissible alert-success d-flex align-items-center fade show" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     fill="currentColor"
     class="bi bi-check-circle-fill flex-shrink-0 me-2 text-success"
     role="img" aria-label="Success:"
     viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.97 11.03a.75.75 0 0 0 1.07 0l3.992-3.992a.75.75 
           0 1 0-1.06-1.06L7.5 9.439 5.53 7.47a.75.75 
           0 0 0-1.06 1.06l2.5 2.5z"/>
</svg>
 <div>
     <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<%} %>


<% if(error && error.length){ %>
    <div class="flash alert  alert-dismissible alert-danger d-flex align-items-center fade show" role="alert">
 <svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     fill="currentColor"
     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
     role="img" aria-label="Danger:"
     viewBox="0 0 16 16">
  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg>

  <div>
     <%=error %> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<%} %>
